<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">O Estudio</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <span>Leonardo</span>
                <button id="demo-menu-lower-right"
                class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">arrow_drop_down</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">
            <li class="mdl-menu__item">Config</li>
            <li class="mdl-menu__item">Logout</li>
        </ul>
    </nav>
</div>
</header>
<div class="android-drawer mdl-layout__drawer">

    <span class="mdl-layout-title">
        <p></p>
        <p></p>
        <button  routerLink="/home" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">home</i>
        </button>
        <!-- <img src="../../ext/img/user.png" > -->
    </span>
    <nav class="mdl-navigation">
        <!-- MAQUIAGEM -->
        <span class="mdl-navigation__link">Maquiagem</span>
        <a class="mdl-navigation__link" routerLink="/agendamaquiagem">Maquiagens do Dia</a>
        <a class="mdl-navigation__link" routerLink="/novamaquiagem">Novo Agendamento</a>
        <a class="mdl-navigation__link" routerLink="/novoservicom">Nova Maquiagem</a>
        <div class="android-drawer-separator"></div>
        <!-- CABELE -->
        <span class="mdl-navigation__link">Cortes de Cabelo</span>
        <a class="mdl-navigation__link" routerLink="/cotedia">Cortes do Dia</a>
        <a class="mdl-navigation__link" routerLink="/novoagcabelo">Novo Agendamento</a>
        <a class="mdl-navigation__link" routerLink="/novocorte">Novo Corte</a>
        <div class="android-drawer-separator"></div>
        <!-- MAO E PES -->
        <span class="mdl-navigation__link">Manicure e Pedicure</span>
        <a class="mdl-navigation__link" routerLink="/agendamaoepe">Clientes do Dia</a>
        <a class="mdl-navigation__link" routerLink="/novamanicure">Novo Agendamento</a>
        <a class="mdl-navigation__link" routerLink="/novapedicure">Novo Serviço</a>
        <div class="android-drawer-separator"></div>
        <!-- DEPILACAO -->
        <span class="mdl-navigation__link">Depilação</span>
        <a class="mdl-navigation__link" routerLink="/agendadepilacao">Depilacoes do Dia</a>
        <a class="mdl-navigation__link" routerLink="/novadepilacao">Novo Agendamento</a>
        <a class="mdl-navigation__link" routerLink="/novotipodepilacao">Nova Depilação</a>
        <div class="android-drawer-separator"></div>
        <!-- CLIENTES -->
        <span class="mdl-navigation__link">Clientes</span>
        <a class="mdl-navigation__link" routerLink="/novocliente">Novo Cliente</a>
        <a class="mdl-navigation__link" routerLink="/consultacliente">Consultar Clientes</a>
    </nav>

</div>

<div class="mdl-cell mdl-cell--6-col"></div>

<router-outlet></router-outlet>

</div>
