<mat-toolbar>
  
  <p> Style Dashboard </p> 

  <button mat-button [matMenuTriggerFor]="Cabelo">Cabelo</button>

  <button mat-button [matMenuTriggerFor]="Maquiagem">Maquiagem</button>

  <button mat-button [matMenuTriggerFor]="mep">Manicure e Pedicure</button>

  <button mat-button [matMenuTriggerFor]="Depilacao">Depilacao</button>

  <mat-menu #Cabelo="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="Cadastro">Cadastro</button>
    <button mat-menu-item [matMenuTriggerFor]="Agendamento">Agendamento</button>
    <button mat-menu-item [matMenuTriggerFor]="Consultas">Consultas</button>
  </mat-menu>

  <mat-menu #Maquiagem="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="CadastroMaq">Cadastro</button>
    <button mat-menu-item [matMenuTriggerFor]="AgendamentoMaq">Agendamento</button>
    <button mat-menu-item [matMenuTriggerFor]="ConsultasMaq">Consultas</button>
  </mat-menu>

  <mat-menu #mep="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="CadastroMep">Cadastro</button>
    <button mat-menu-item [matMenuTriggerFor]="AgendamentoMep">Agendamento</button>
    <button mat-menu-item [matMenuTriggerFor]="ConsultasMep">Consultas</button>
  </mat-menu>

  <mat-menu #Depilacao="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="CadastroDep">Cadastro</button>
    <button mat-menu-item [matMenuTriggerFor]="AgendamentoDep">Agendamento</button>
    <button mat-menu-item [matMenuTriggerFor]="ConsultasDep">Consultas</button>
  </mat-menu>


  <mat-menu #Cadastro="matMenu">
    <button mat-menu-item>Clientes</button>
    <button mat-menu-item>Servicos</button>
  </mat-menu>

  <mat-menu #Agendamento="matMenu">
    <button mat-menu-item>Clientes</button>
    <button mat-menu-item>Servicos</button>
  </mat-menu>

  <mat-menu #Consultas="matMenu">
    <button mat-menu-item>Clientes</button>
    <button mat-menu-item>Servicos</button>
  </mat-menu>

  <!-- =============================================== -->

  <mat-menu #CadastroMep="matMenu">
    <button mat-menu-item>Clientes</button>
    <button mat-menu-item>Servicos</button>
  </mat-menu>

  <mat-menu #AgendamentoMep="matMenu">
    <button mat-menu-item>Clientes</button>
    <button mat-menu-item>Servicos</button>
  </mat-menu>

  <mat-menu #ConsultasMep="matMenu">
    <button mat-menu-item>Clientes</button>
    <button mat-menu-item>Servicos</button>
  </mat-menu>

  <!-- ====================================================== -->

  <mat-menu #CadastroDep="matMenu">
    <button mat-menu-item>Clientes</button>
    <button mat-menu-item>Servicos</button>
  </mat-menu>

  <mat-menu #AgendamentoDep="matMenu">
    <button mat-menu-item>Clientes</button>
    <button mat-menu-item>Servicos</button>
  </mat-menu>

  <mat-menu #ConsultasDep="matMenu">
    <button mat-menu-item>Clientes</button>
    <button mat-menu-item>Servicos</button>
  </mat-menu>

  <!-- ==================================== -->

  <mat-menu #CadastroMaq="matMenu">
    <button mat-menu-item>Clientes</button>
    <button mat-menu-item>Servicos</button>
  </mat-menu>

  <mat-menu #AgendamentoMaq="matMenu">
    <button mat-menu-item>Clientes</button>
    <button mat-menu-item>Servicos</button>
  </mat-menu>

  <mat-menu #ConsultasMaq="matMenu">
    <button mat-menu-item>Clientes</button>
    <button mat-menu-item>Servicos</button>
  </mat-menu>


</mat-toolbar>