<div class="example-container mat-elevation-z8">
	<h4>Cadastro de Maquiagens</h4>
	<div class="row">
		<mat-form-field id="nome">
			<input matInput placeholder="Nome do Servico">
		</mat-form-field>
		<mat-form-field id="tama">
			<input matInput placeholder="Valor" type="number" class="example-right-align">
			<span matPrefix>$&nbsp;</span>
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field>
			<textarea matInput placeholder="Observacao (opcional)" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="9"></textarea>
		</mat-form-field>
	</div>
	<div class="row">
		<button id="salvar" mat-raised-button color="primary">Salvar</button>
		<button id="exit" mat-raised-button color="warn">Cancelar</button>
	</div>
</div>